/** Landing page */
body{
	background-color: gray;
}
footer{
	padding-top: 40px;
	background-color: black;
	padding-bottom: 30px;
}
header{
	
}
a:link {
   color: white;
}
a:visited {
    color: white;
}
#logo{
    max-width:140px;
}
.navbar{
    background:rgba(1,1,1,0.2);
}
#menu a{
    color: white;
}
#menu a:hover{
    background-color: red;
}
#menu_sistema{
    background:rgba(1,1,1,0.2);
}
#carrocel{
	justify-content: center;
    overflow: hidden;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: 10px;

}
#coluna_dois_do_rodape{
    color: grey;
}
#coluna_dois_do_rodape a{
    color: grey;
}
#missao_visao_valores{
	margin-left: -3px;
    padding-top: 10px;
    background-color: grey;
    background:rgba(1,1,1,0.2);
    font-family: verdana;
}
#fale_conosco{
  	margin-left: -3px;
    padding-top: 10px;
    background-color: grey;
    background:rgba(1,1,1,0.2);
    font-family: verdana;
}
/** Área restrita */
.content{
	width: 300px;
	min-height: 170px;    
	margin-right: 20px;
	margin-left: 20px;
}
#login-recuperasenha{
	width: 300px;
}
#elemento{
	border:solid 1px;
	border-radius: 20px;
	box-shadow: 1px 1px 2px 1px black;
	width: 350px;
    height: 400px;
    overflow: hidden;
    margin-top: 140px;
    padding-left: 5px;
}
#recuperarsenha{
	border:solid 1px;
	border-radius: 20px;
	box-shadow: 1px 1px 2px 1px black;
	width: 350px;
    height: 440px;
    overflow: hidden;
    margin-top: 140px;
    padding-left: 5px;
}